#introdução {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}
   
.introdução1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}
.ficha {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}
.personagens {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}
.h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}
.elementos {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}
.regras {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}   
/* Estilos gerais para o corpo da página */
body {
    font-family: Arial, sans-serif;
}
footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
    padding: 20px; /* Espaçamento interno do rodapé */
    text-align: center; /* Alinhamento do texto no centro */
}
footer p {
    font-size: 14px;
}